*.class
*.log
*.bin
*.sc
# sbt specific
.cache*
.history
.classpath
.settings
.project
.lib/
dist/*
target/
project/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea
/bin/
